
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333333 ;
}
.navbar .container .logo {
    display: flex;
    height: 55px;
    overflow: hidden;
    margin-left: -50px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.post-box .date {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 30px;
    background: #333333;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
}

.post-thumb {
    position: relative;
    width: 350px;
    height: 262px;
}

.post-info h4 {
    height: 54px;
    overflow: hidden;
    max-width: fit-content;
}

.row{
    margin-top: 85px;
}
.row .blog {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.post-box{
    box-shadow: 0px 5px 30px 3px rgb(148 146 245 / 50%);
}
.row .blog .post-thumb .fluid {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-box .post-thumb::before{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row .blog .post-box{
    border-radius: 10px;
}
.row .blog .post-info{
    border-radius: 10px;
    margin-top: 30px;
}

.row .blog .post-info .meta{
    overflow-y: hidden;
    /* height: 32px; */
}
.row .blog .post-info .meta p{
    max-width: fit-content;
    margin-right: 0px;
    height: inherit;
}