<h1 class=" title text-4xl mb-3 p-0 font-black md:text-3xl" mat-dialog-title>{{projectData.name}}</h1> 
<div class="container p-0 w-full flex md:flex-col" mat-dialog-content>
    <div class="image mb-2 ">
        <img class="rounded-lg " src="{{getImage()}}" width="400px" alt="">
    </div>
    <div class="info">
        <p class="text-2xl mb-4">{{projectData.about}}</p>
        <a href="{{projectData.projectUrl}}">
            <div class="git flex mb-1 md:justify-center	">
                <mat-icon class="mr-2">insert_link</mat-icon>
                <h4 class="text-xl p-0">Git Repo</h4>
            </div>
        </a>
        <br>
        <div class="technologies grid grid-cols-2 gap-2 mb-4 ">
            <p *ngIf="projectData.front">
                <mat-icon>
                    <span class="material-icons">
                        check_circle
                    </span>
                </mat-icon>
                <span>{{projectData.front}}</span>
            </p>
            <p *ngIf="projectData.back">
                <mat-icon>
                    <span class="material-icons">
                        check_circle
                    </span>
                </mat-icon>
                <span>{{projectData.back}}</span>
            </p>
            <p *ngIf="projectData.other">
                <mat-icon>
                    <span class="material-icons">
                        check_circle
                    </span>
                </mat-icon>
                <span>{{projectData.other}}</span>
            </p>
        </div>
        <div class="button md:text-center">
            <button class=" border-4 border-sky-600"><a href="{{projectData.hostUrl}}"><span> Live Demo</span></a>  </button>
        </div>
    </div>
</div>
<div class="justify-center p-3 " mat-dialog-actions>
    <button class="flex bg-white rounded-full p-2.5 border-none outline-none cursor-pointer md:mx-auto" mat-dialog-close cdkFocusInitial>
        <mat-icon>close</mat-icon>
    </button>
</div>