<!-- <p>blog works!</p>

<div *ngFor="let blog of blogs">
    <p *ngFor="let section of blog | keyvalue">
        <span>{{section.key}} - </span>
        <span *ngIf="section.key == 'poster'">
            <img src="{{getImage(section.value).width(100).url()}}" alt="">
        </span>
        
        <span  *ngFor="let data of section.value |keyvalue">
            <span *ngIf="data.key == 'image'">
                <img src="{{getImage(data.value).width(100).url()}}" alt="image">
            </span>
            {{data.key}} - {{data.value}}
        </span>
        <span> {{section.value}}</span>
    </p>
</div>
<p [innerHtml]="content"> </p> -->
<div class="relative h-96">
    <img [src]="getImage(blog.poster).url()" class="w-full h-full object-cover" />
</div>

<div class="max-w-4xl mx-auto bg-white py-12 px-12 lg:px-24 -mt-32 mb-8 relative z-10 shadow-lg mb-32">
    <h2 class="mt-4 uppercase tracking-widest text-xs text-gray-600">
        {{blog.createdAt | date: 'medium'}}
    </h2>
    <h1 class="font-display text-2xl md:text-3xl text-gray-900 mt-4">
        {{blog.titles}}
    </h1>
    <div class="prose prose-sm sm:prose lg:prose-lg mt-6" [innerHtml]="content">

    </div>
</div>

