<!-- <p>blog works!</p>

<div *ngFor="let blog of blogs">
    <p *ngFor="let section of blog | keyvalue">
        <span>{{section.key}} - </span>
        <span *ngIf="section.key == 'poster'">
            <img src="{{getImage(section.value).width(100).url()}}" alt="">
        </span>
        
        <span  *ngFor="let data of section.value |keyvalue">
            <span *ngIf="data.key == 'image'">
                <img src="{{getImage(data.value).width(100).url()}}" alt="image">
            </span>
            {{data.key}} - {{data.value}}
        </span>
        <span> {{section.value}}</span>
    </p>
</div>
<p [innerHtml]="content"> </p> -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <div class="logo">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="img-fluid" src="../../images/logo.svg" alt="" />
            </a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contect Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="relative h-96">
    <img [src]="getImage(blog.poster).url()" class="w-full h-full object-cover" />
</div>

<div class="main max-w-4xl mx-auto bg-white py-12 px-12 lg:px-24 -mt-32 mb-8 relative z-10 shadow-lg mb-32">
    <div class="author flex items-center gap-8">
        <div class="author-image w-20 h-20 flex items-center justify-center rounded-full overflow-hidden shadow-xl 
        hover:overflow-visible shadow-xl" >
            <img [src]="getImage(blog.author['image']).width(120).height(120).url()" class="w-full h-full object-cover hover:w-24 h-24 rounded-full" />
        </div>
        <div class="author-info grid grid-cols-1 items-center text-xl">
            <h3 class="p-1.5">
                {{blog.author['name']}}
            </h3>
            <h2 class="uppercase tracking-widest text-xs text-gray-600 p-1.5">
                {{blog.createdAt | date: 'longDate'}}
            </h2>
        </div>
    </div>
    <h1 class="font-display text-2xl md:text-3xl text-gray-900 mt-4">
        {{blog.titles}}
    </h1>
    <div class="content prose prose-sm sm:prose lg:prose-lg mt-6" [innerHtml]="content">

    </div>
</div>

