/* @tailwind base;  */
@tailwind components;
@tailwind utilities;

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333333 ;
}
.navbar .container .logo {
    display: flex;
    height: 55px;
    overflow: hidden;
    margin-left: -50px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.relative {
   margin-top: 75px;
}

blockquote {
    background: #f9f9f9;
    border-left: 6px solid #9d9d9d;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #f9f9f9;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

code {
    background-color: #525252;
    border: 1px solid #000;
    border-radius: 10px;
    display: block;
    padding: 20px;
    color: white;
}

.main .content img {
    height: 300px;
    width: 100%;

}

@media screen and (max-width: 400px) {}