<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <div class="logo">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="img-fluid" src="../../images/logo.svg" alt="" />
            </a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="home" class="main-banner parallaxie" 
    [ngStyle]="{'background-image':'url(' + profile.backg.asset.url + ')'}">
    <div class="heading">
        <h1>Hello i'm {{profile.name}}</h1>
        <p>Welcome to my Portfolio Website</p>
        <h3 class="cd-headline clip is-full-width">
            <span>I am&nbsp;</span>
            <span class="cd-words-wrapper">
                <b class="is-visible"> Blockchain Enthusiast</b>
                <b> Problem solver </b>
                <b> Web Developer </b>
            </span>
        </h3>
        <div class="social-links">
            <a href="https://github.com/AshishShimpi" class="google-plus"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/ashish-shimpi-3286031a4/"class="linkedin"><i class="fa fa-linkedin-square"></i></a>
          </div>
    </div>
</section>
<svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
    viewBox="0 0 85 100" preserveAspectRatio="none">
    <path d="M-5 100 Q 0 20 5 100 Z
        M0 100 Q 5 0 10 100
        M5 100 Q 10 30 15 100
        M10 100 Q 15 10 20 100
        M15 100 Q 20 30 25 100
        M20 100 Q 25 -10 30 100
        M25 100 Q 30 10 35 100
        M30 100 Q 35 30 40 100
        M35 100 Q 40 10 45 100
        M40 100 Q 45 50 50 100
        M45 100 Q 50 20 55 100
        M50 100 Q 55 40 60 100
        M55 100 Q 60 60 65 100
        M60 100 Q 65 50 70 100
        M65 100 Q 70 20 75 100
        M70 100 Q 75 45 80 100
        M75 100 Q 80 30 85 100
        M80 100 Q 85 20 90 100
        M85 100 Q 90 50 95 100
        M90 100 Q 95 25 100 100
        M95 100 Q 100 15 105 100 Z">
    </path>
</svg>

<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="message-box" style="font-size: 18px;">
                    <h2>About Me</h2>
                    <div class="about" [innerHtml] = "about"> </div>

                    <a href="{{profile.resume.asset.url}}?&dl=" class="sim-btn btn-hover-new"
                        data-text="Download CV"><span>Download CV</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-5">
                <div class="right-box-pro wow fadeIn">
                    <img src="{{getImage(profile.pic).width(790).height(690).url()}}" alt=""
                        class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="services" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Skills</h3>
            <!-- <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p> -->
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon ">
                        <img class="i-1" src="../../assets/angular_logo.png">
                    </div>
                    <h2>Angular</h2>
                    <p>Angular is a development platform, built on TypeScript.It is a component-based framework for
                        building scalable web applications</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <img class="i-2" src="../../assets/eth-diamond-black.png" alt="">
                    </div>
                    <h2>Blockchain</h2>
                    <p>A blockchain is a distributed database or ledger that is shared among the nodes of a computer
                        network.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <img class="i-3" src="../../assets/django-logo-negative.svg">
                    </div>
                    <h2>Django</h2>
                    <p>Django is a high-level Python web framework that encourages rapid development and clean,
                        pragmatic design. </p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <img class="i-4" src="../../assets/logo-mysql.png">
                    </div>
                    <h2>MySQL</h2>
                    <p>MySQL, the most popular Open Source SQL database management system, is developed, distributed,
                        and supported by Oracle Corporation.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <img class="i-5" src="../../assets/nodejs.svg">
                    </div>
                    <h2>NodeJS</h2>
                    <p>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. As an asynchronous
                        event-driven JavaScript runtime.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <img class="i-6" src="../../assets/icon_flutter.svg">
                    </div>
                    <h2>Flutter</h2>
                    <p>Flutter is an open source framework by Google for building beautiful, natively compiled,
                        multi-platform applications from a single codebase.</p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->


<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Projects</h3>
            <p>All the Projects I made in the following technologies.</p>
        </div>

        <!-- <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-left">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".gal_ab">Angular</button>
                    <button data-filter=".gal_bb">Blockchain</button>
                    <button data-filter=".gal_cb">Django/NodeJS</button>
                </div>
            </div>
        </div> -->

        <div class="gallery-list row">

            <div class="col-md-6 col-sm-12 gallery-grid" [ngClass]="{
                    'gal_ab':pro.front == 'angular',
                    'gal_bb': pro.other == 'other',
                    'gal_cb': pro.back == 'django' || pro.back == 'nodejs' 
                }" *ngFor="let pro of projects">
                <div class="gallery-single fix">
                    <img src="{{getImage(pro.image).height(310).width(510).fit('clip').url()}}" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <div class="project-name">
                            <p>{{pro.name}}</p>
                        </div>
                        <button type="button" (click)="openDialog(pro)" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius">
                            <i class="fa fa-expand"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="blog" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Blog</h3>
            <a [routerLink]="['blogsListing']" class="blog-button btn-hover-new" data-text="All Blogs"><span>All
                    Blogs</span></a>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4" *ngFor="let blog of blogs">
                <div class="post-box">
                    <a [routerLink]="['/blog',blog.slug.current]" [queryParams]="{id: blog._id}">
                        <div class="post-thumb">
                            <img [src]="blog.original_url.asset.url + '?w=350&h=262&fit=scale'" class="img-fluid fluid"
                                alt="post-img" />
                            <div class="date">
                                <span>{{blog.createdAt | date: 'LLL d'}}</span>
                            </div>
                        </div>
                    </a>
                    <div class="post-info">
                        <a [routerLink]="['/blog',blog.slug.current]" [queryParams]="{id: blog._id}">
                            <h4>{{blog.titles | slice: 0:47}}
                                <span>...</span>
                            </h4>
                        </a>
                        <ul>
                            <li>by {{blog.author.name}}&nbsp;</li>
                            <li>|&nbsp;{{blog.createdAt | date: 'longDate'}}</li>
                        </ul>
                        <div class="meta">
                            <p>{{blog.meta | slice: 0:60}}
                                <span>...</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="section db">
    <div class="container">
        <div class="section-title text-left">
            <h3>Contact</h3>
            <p>Mail at: <b id="email">ashishpawarr00@gmail.com</b></p>
        </div><!-- end title -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="#home">Home</a>
                    <a href="#blog">Blog</a>
                    <a href="#about">About</a>
                </p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius">
    <i class="fa fa-angle-up"></i>
</a>